.category {
    --sports-color: #f99500;
    --ent-color: #a66bbe;
    --tech-color: #009cff;
    display: inline-block;
    font-size: 0.55rem;
    border-radius: 15px;
    margin-bottom: 0.5rem;
    padding: 0.4rem 0.6rem;
    text-transform: uppercase;
    color: white;
}

.category-sports { background: var(--sports-color) }
.category-ent { background: var(--ent-color) }
.category-tech { background: var(--tech-color) }

body {
    background-color: #f3f3f3;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3{
    color: #333;
    font-size: 1.25rem;
    font-family: 'Staatliches', cursive;
    text-decoration: none;
}

#navigation {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 3;
}

#navigation .container {
    display: grid;
    grid-template-columns: 6fr 3fr 2fr;
    align-items: center;
    padding: 1rem;
}

#navigation ul {
    display: grid;
    justify-self: end;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    list-style-type: none;
}

#navigation ul li a{
    text-decoration: none;
    padding: 0.5rem; 
    font-weight: bold;
    color: #333;
    padding: 0.75rem;
}

#navigation ul li a:hover {
    background-color: #dc3545;
    color: white;
}

#navigation ul li a:active {
    background-color: #dc3545;
    color:white;
}

#navigation ul li a.active {
    background-color: #dc3545;
    color:white;
}

#navigation .logo {
    width: 180px;
}

#navigation .icons a i{
    color: grey;
}

#header {
    color: #fff;
    background:#333;
    padding: 20px;
    position: relative;
}

#header:before {
    content: '';
    background: url("../img/featured.jpg") no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

#header .header-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    height: 50%;
}

#header .header-container .header-content {
    z-index: 2;
}

#header h1 {
    font-size: 2rem;
    color: white;
}

#articles {
    padding: 1rem;
}

#articles .articles-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

#articles .articles-container > :first-child,
#articles .articles-container > :last-child {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    align-items: center;
    grid-column: 1 / span 2;
}

#articles .articles-container > :last-child {
    grid-column: 2 / span 2;
  }

.card {
    display: block;
    padding: 1rem;
    border: none;
}

#articles .bg-dark p,
#articles .bg-dark a{

    color: white;
}

#articles .bg-danger p,
#articles .bg-danger a{
    color: white;
}

img {
    padding-bottom: 0.5rem;
    width: 100%;
}

#footer {
    background: #333;
    color: #fff;
  }

#footer h3 {
    color: #fff;
}

#footer a {
    color: #fff;
}

#footer .footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;
    padding-top: 2rem;
}

#footer .footer-container > *:last-child {
    background: #444;
    grid-column: 1 / span 4;
    padding: 0.5rem;
    text-align: center;
    font-size: 0.75rem;
}

#footer .footer-container input,
#footer .footer-container button
 {
    width: 90%;
    padding: 0.5rem;
}

#footer .footer-container .join{
background-color: orange;
}

#footer .list{
    display: grid;
    align-items: center;
}

#footer .logo {
    width: 180px;
}




